@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
/*
html {
  background: rgb(246, 248, 248);
}
*/
.body2 {
  padding: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;  
}
.promos {
  width: 800px;
    margin: 0 auto;
  margin-top: 50px;
}

.formation {
	width: 250px;
	height: 30px;
	background: #ffe6e6 ;
	color : #808080;
	float: left;
	padding-top: 7px;
}

.promo {
  width: 250px;
  background: #ff9999 ;
  color: #999999;
  float: left;
  box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
}

.third {
color: #BF8970;
}
.deal {
  padding: 1px 10px 0 0;
}
.deal span {
  display: block;
  text-align: center;
}
.deal span:first-of-type {
  font-size: 23px;  
}
/*
.deal span:last-of-type {
  font-size: 13px;
}
*/
.promo .price {
  display: block;
  width: 60px;
  height: 60px;
  background: #f2f2f2;
  border-radius: 50%;
  margin: 15px 0 10px 90px;
  text-align: center;
  font-size: 35px;
  
}
ul {
  display: block;
  margin: 20px 0 10px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: white;
}
li {
  display: block;
  margin: 10px 0 0 0;
}

.scale {
  transform: scale(1.2);
  box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
}
.scale .price {
  color: #ffcc00;
}
